@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #000000;
  color: rgb(255, 255, 255);
  font-size: 28px;
  align-items: center;
  text-align: center;
  padding: 15px;
  font-family: "Roboto Slab", serif;
}

nav ul {
  list-style-type: none;
}

.gamecontainer {
  /* background-color: #c2c2c2; */
  margin-top: 1rem;
  text-align: center;
  font-family: "Roboto Slab", serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(3,8vw);
    grid-template-rows: repeat(3, 8vw);
    font-family: "Roboto Slab", serif;
    margin-left: 33rem ;
}

.box{
    border: 2px solid black;
    font-size: 6vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: #eaf6f8;
}

.info{
    
    font-size: 1.7rem;
    color: #ff00ea;
    font-weight: bolder;
    padding: 0.4em;

    border-radius: 15px;

}

.space{
    display: flex;
    flex-direction: column;
}

.imgbox img{
    width: 0px;
    transition: width 1s ease-in-out;
}

.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
.bl-0{
    border-left: 0;
}
.br-0{
    border-right: 0;
}

#reset{
    cursor: pointer;
    border-radius: 5px;
    padding: 7px 25px;
    font-family: "Roboto Slab", serif;
    font-size: 1.5rem;
    color: black;
}

#reset:hover{
    background-color: #030303;
    color: white;
}


@media screen and (max-width: 1200px ){
    .container {
       margin-left: 28rem ;
       margin-top: 5rem;
    }
}



@media screen and (max-width: 900px ){
    .container {
       margin-left: 12rem ;
       margin-top: 5rem;
       zoom: 150%;
    }
}


@media screen and (max-width: 700px ){
    .container {
       margin-left: 3rem ;
       margin-top: 3rem;
       zoom: 200%;
    }
}







